
nav{
    background-color: rgb(0, 255, 221);
}
#heading1{
    text-align: center;
}
.heading2{
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;

    margin: auto auto 20px;
    border-radius: 15px 50px;
    background-color:#f4def7e7;
    color: #ec4646;
    padding: 20px; 
    width: 500px;
    height: 90px; 
}
.heading2_draw{
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    
    margin: auto auto 20px;
    border-radius: 15px 50px;
    background-color:#40f31d;
    color: #e92910;
    padding: 20px; 
    width: 750px;
    height: 90px;
}

.heading2_loose{
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    
    margin: auto auto 20px;
    border-radius: 15px 50px;
    background-color:#e20a15;
    color: #e5e910;
    padding: 20px; 
    width: 920px;
    height: 90px; 
}

.board{
    margin-top: 20px;
}

.box{
    margin: 7px;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    background-color: rgb(180, 216, 216);
}